.div1{
    alagnside: centre;
    width: 600px;
    hight: 800px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom:50px;
     margin-top: 50px;
     margin-left: 50px;

}
.div2{
     width: 400px;
     hight: 600px;
     border-radius: 20px;
     background-color: white;
     padding-top:20px;
     padding-flex;
}
#abad{
             margin-top: 5px;
             margin-right: 5px;
             margin-bottom: 30px;
             margin-left: 30px;
             padding-top: 5px;
             padding-right: 5px;
             padding-bottom: 5px;
             padding-left: 5px;
             width: 300px;
             hight: 300px;
             alagnside: centre;
             border-radius: 10px;
             border-color: red;

}
#osh{
       margin-top: 5px;
       margin-right: 5px;
       margin-bottom: 15px;
       margin-left: 30px;
       padding-top: 5px;
       padding-right: 5px;
       padding-bottom: 5px;
       padding-left: 5px;
       width: 300px;
       hight: 300px;
       border-radius: 10px;
       alagnside: centre;
       border-color: red;

}
#button{

        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        margin-left: 130px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 100px;
        hight: 100px;
        border-radius: 10px;
        alagnside: centre;
        border-color: red;
        background: pink;
}
#baslik{
 margin-left: 130px;
 fond-color: pink;
}
#pasword{
 margin-left: 130px;
 fond-color: pink;
}